@import './base.css';

a {
  text-decoration: none;
  display: inline-block;
  color: var(--color-text);
}

a:hover {
  color: var(--color-principal);
}

a.zoom {
  color: hsla(0, 0%, 14%, 1);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.4s, transform 0.4s;
  padding: 13px 14px;
}

a.zoom-btn {
  transition: all 0.3s ease;
}

@media (hover: hover) {
  a.fundo:hover { background-color: var(--color-principal-background-hover); }

  a.zoom:hover {
    color: var(--color-principal-hover) !important;
    transform: scale(1.20);
  }

  a.zoom-btn:hover {
    color: hsla(0, 0%, 100%, 1) !important;
    transform: scale(1.06);
    max-height: 98%;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@media (max-width: 600px) {
  h1 { font-size: 30px !important; }
  h2 { font-size: 32px !important; }
  h3 { font-size: 26px !important; }
  h4 { font-size: 20px !important; }
  h5 { font-size: 20px !important; }
  h6 { font-size: 14px !important; }
  p  { font-size: 16px !important; }
  code { font-size: 14px !important; }
  section { padding: 48px 0 !important; gap: 24px !important; }

  .LStyleCheckList li .v-icon {
    margin-top: -3px;
    font-size: 20px;
  }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(30px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes zoomOut {
  0%   { transform: scale(1.15); opacity: 0; }
  100% { transform: scale(1); opacity: 1; } 
}