@import './base.css';

a {
  text-decoration: none;
  display: inline-block;
}

a.fundo {
  color: hsla(358, 73%, 33%, 1);
  font-size: 15px;
  transition: 0.4s;
  font-weight: bold;
}

a.zoom {
  color: hsla(0, 0%, 14%, 1);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.4s, transform 0.4s;
  padding: 13px 14px;
}

@media (hover: hover) {
  a.fundo:hover {
    background-color: hsla(358, 73%, 33%, 0.2);
  }

  a.zoom:hover {
    color: hsla(358, 73%, 33%, 1) !important;
    transform: scale(1.20);
  }

  a.zoom-btn:hover {
    color: hsla(0, 0%, 100%, 1) !important;
    transform: scale(1.10);
    max-height: 98%;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@media (max-width: 400px) {
  h1 { font-size: 30px !important; }
  h2 { font-size: 32px !important; }
  h3 { font-size: 26px !important; }
  h4 { font-size: 20px !important; }
  h5 { font-size: 20px !important; }
  h6 { font-size: 14px !important; }
  p  { font-size: 16px !important; }
  section { padding: 48px 0 !important; gap: 24px !important; }
}